.navItem {
  -webkit-tap-highlight-color: transparent;
  display: block;
  color: var(--color-black);
  padding: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  svg {
    height: 3.25rem;
  }

  @media (pointer: fine) {
    .navItem:hover,
    .navItem:active {
      background-color: var(--backgroundColor);
      color: var(--color);
    }
  }

  &.tapActive {
    background-color: var(--backgroundColor);
    color: var(--color);
    transition: background-color 0s, color 0s;
    transition-delay: 60ms;
  }

  &.navItemActive {
    color: var(--color);
  }
}

.navList {
  padding: 1rem;
  justify-content: space-between;
  display: flex;
  list-style-type: none;
  margin: 0;
  > li {
    flex: 1 0 1;
  }
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.app {
  max-width: 600px;
  margin: 0 auto;
}

.nav {
  width: 100vw;
  position: fixed;
  overflow: auto;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 -2px 14px hsla(0, 0%, 0%, 0.13);
  background-color: white;
}

.profile {
  height: 140px;
  width: 140px;
  border-radius: 100px;
  object-fit: cover;
  z-index: 1;
  position: relative;
  top: 2rem;
  margin-bottom: 3rem;
  background-color: grey;
}

.wire-frame {
  width: 100%;
}

.wire-frame div {
  border-radius: 4px;
  background-color: hsla(0, 0%, 0%, 0.07);
  height: 2rem;
  margin-top: 1rem;
}

.wire-frame div:nth-of-type(2) {
  height: 10rem;
}

.topNav {
  height: 8rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color);
}
